.playfair {
  font-family: 'Playfair Display', serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}

header a.active{
  background-color: #1f2937;
  color: white;
}

.dark header a.active{
  background-color: white;
  color: black;
  font-weight: 600;
}